.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-link{
    background-color: white;
    margin: 32px 0px;
    width: 29em;
    padding: 18px 8px;
    border: 1px solid rgb(112, 112, 112, 0.36);
    border-radius: 1em;
    text-align: center;
}

.cart-link-heading{
    font-size: 2.5em;
    font-weight:normal;
    padding-bottom: 0.7%;
    /* padding: 1% 1.5%; */
}

.link-cart-buttn{
    padding: 8px 21px;
    cursor: pointer;
    font-size: 1.2em;
    background: white;
    border: 2px solid #49bccc;
    margin: 16px;
    border-radius: 1em;
}

.link-cart-buttn:hover{
    background-color: #49bccc;
    color: white;
}