.footer{
    /* background-image: linear-gradient(rgb(93, 184, 165), rgb(200, 46, 33),rgb(126, 53, 166)); */
    background-image: linear-gradient(rgb(134, 205, 189), rgb(210, 169, 165),rgb(197, 168, 212));
    /* background-image: linear-gradient(rgb(200, 253, 240), rgb(255, 220, 217),rgb(235, 194, 255)); */
    /* height: 23em; */
    padding: 2% 8%;
    margin-top: 3%;
    box-shadow: black 0px 0px 3px;
    padding-bottom: 0;
}

.columns{
    display: flex;
    padding: 3% 0%;
    border-top:1px solid white ;
}

.company{
    width: 20%;
}

.heading h4{
    font-size: 1.1em;
    font-weight: 650;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.text{
    margin: 2% 0%;
    font-size: 1em;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.text a:hover{
    text-decoration: underline;
}

.get-a-para{
    font-size: 1em;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap;  */
    /* overflow: hidden; */
}
.copyright{
    font-size: 1.2em;
    padding: 2% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid white ;
}


@media only screen and (max-width:600px){
    .footer{
        padding: 0;
    }
    .company{
        /* border-right: 1px solid white; */
        padding: 0% 1%;
    }
}
