.list-heading{
    background-color: white;
    width: 84%;
    /* border: 1px solid rgba(112,112,112,.38); */
    border: 1px solid white;
    border-radius: 0.3em;
    margin-left: 15%;
    margin-top: 0.5em;
    padding: 1% 2%;
    font-size: 2.1em;
    font-weight:500;
}


.box{
    display: flex;
}



.box2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    background-color: white;
    width: 84%;
    padding: 1%;
    margin: 1%;
    /* margin-top: 0; */
    border: 1px solid rgb(112, 112, 112, 0.36);
    /* border: 1px solid white; */
    border-radius: 0.7em;
}

.edit-btn{
    padding: 3% 33%!important;
}