/* Trending Part */
.advertisement{
    margin: 3% 0%;
    padding: 0% 1%;
}

.trending-heading{
    /* font-size: 2.4vw; */
    font-size: 2.3em;
    font-weight:normal;
    padding: 0% 1%;
    /* margin: 1% 1.5%; */
}

.trending-images{
    margin-top: 2%;
    display: flex;
    overflow: scroll;
}

.div-img2{
    /* width: 100%; */
    margin-left: 1%;
}

.trending-img-1{
    border: 1px solid white;
    border-radius: 3%;
    width: 28em;
    height: auto;
}




/* Fever-Cart */
.fever-cart{
    /* background-image: linear-gradient(rgb(222, 244, 207), rgb(209, 212, 154),rgb(245, 227, 201)); */
    background-image: linear-gradient(rgb(208, 255, 244), rgb(255, 208, 203),rgb(197, 168, 212));
    /* background-color: white; */
    padding: 1%;
    margin: 1%;
    border: 1px solid white;
    border-radius: 1em;
    box-shadow: black 0px 0px 1px;
}

.fever-heading{
    /* font-size: 2.1em; */
    font-size: 2.3em;
    font-weight:normal;
    padding: 1% 1%;
    /* color: white; */
}

.cart-collection{
    /* padding-left: 12%; */
    overflow: scroll;
    display: flex;
}

.cart-container{
    background-color: white;
    border: 1px solid rgba(112,112,112,.38);
    /* width: 18%; */
    /* width: 17em; */
    width: 260px;
    padding: 25px 8px;
    margin: 1%;
    border-radius: 2%;
    /* box-shadow: black 0px 0px 1px; */
}

.cart-img-home{
    display: flex;
    justify-content: center;
    width: 15.9em;
}

/* .cart-img-home img{
    width: 60%;
} */

.cart-para-home{
    /* text-align: center; */
    /* font-size: 18px; */
    font-size: 1.1em;
    color: #151b39;
    font-weight:500;
    margin-bottom: 5%;
    margin-top: 2%;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.cart-italic-home{
    font-style: italic;
    color: #6f7284;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    letter-spacing: 0.3px;
    font-size: 1em;
    /* line-height: 1.5vw; */
}

.cart-price-home{
    font-size: 14px;
    letter-spacing: 0.7px;
    /* font-family: LatoBold; */
    color: #6f7284;
    font-size: 1em;
}

.cart-discount-home{
    /* color: #ef4281; */
    font-size: 16px;
    font-size: 1em;
    font-weight: 490;
    margin: 1.5%;
}

.edit-cart-btn-home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-cart-btn-home{
    margin-top: 10%;
    /* color: black; */
    background-color: #49bccc;
    padding: 3.1% 0%;
    /* width: 16.2vw; */
    /* width: 16em; */
    width: 15.5em;
    text-align: center;
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    /* font-size: 17px; */
    font-size: 1em;
}

.main-cart-btn-home:hover{
    background-color: #3098a4;

}




/* Health Concerns */
.health-concerns{
    background-color: white;
    box-shadow: black 0px 0px 3px;
    margin: 4% 1%;
    border: 1px solid white;
    border-radius: 0.7em;
    /* padding: 0% 1%; */
}

.health-heading{
    padding: 1% 2%;
    font-size: 2.2em;
    /* text-decoration: underline; */
    /* color: #49bccc; */
    font-weight:normal;
}

.health-images{
    display: flex;
    margin-top: 1.5%;
    padding-bottom: 2%;
    overflow: scroll;
}

.health-img-1{
    width: 23em;
    cursor: pointer;
    margin: 0% 2%;
    padding: 2% 0%;
    border: 1px solid rgba(112,112,112,.45);
    border-radius: 7%;
    /* box-shadow: black 0px 0px 1px; */
    text-align: center;
}

.health-img-1 img{
    width: 11em;
}

.health-para{
    text-align: center;
    margin-top: 11%;
    font-size: 1.1em;
}




/* Fitness Cart */
.fitness{
    background-image: linear-gradient(rgb(208, 255, 244), rgb(255, 229, 226),rgb(197, 168, 212));
    padding: 1%;
    box-shadow: black 0px 0px 1px;
}




/* Categories in focus */
.categories{
    margin: 4% 1%;
    background-color: white;
    border: 1px solid white;
    border-radius: 0.7em;
    box-shadow: black 0px 0px 3px;
}

.categories-heading{
    /* font-size: 2.1em; */
    /* text-decoration: underline; */
    font-size: 2.2em;
    font-weight:normal;
    padding: 1.2% 2%;
    border-bottom: 1px solid rgb(112, 112, 112, 0.36);
}

.cat-images{
    display: flex;
    margin-top: 1%;
    overflow: scroll;
}

.cat-img1{
    margin: 0% 2.5%;
}

.cat-img1 img{
    width: 18em;
    cursor: pointer;
}

/* Personal-Cart */
.personal-care{
    background-image: linear-gradient(rgb(208, 255, 244), rgb(255, 229, 226),rgb(197, 168, 212));
    padding: 1%;
    box-shadow: black 0px 0px 1px;
}




.brand-in-focus{
    margin: 3% 1%;
    background-color: white;
    border: 1px solid white;
    border-radius: 0.7em;
    box-shadow: black 0px 0px 3px;
}

.brand-heading{
    font-size: 2.3em;
    /* font-size: 2.2vw; */
    font-weight:normal;
    padding: 1% 1.7%;
}

.brand-images{
    display: flex;
    margin-top: 1%;
    padding-bottom: 2%;
    overflow: scroll;
}

.brand-img1{
    /* border: 1px solid white; */
    width: 21em;
    /* border-radius: 0; */
    /* box-shadow: none; */
}
