.box1{
    background-color: white;
    width: 12%;
    border: 1px solid white;
    border-bottom: 1px solid rgb(112, 112, 112, 0.36);
    border-radius: 0.7em;
    padding: 1% 2%;
    margin: 1%;
}

.categories-box1{
    font-size: 1.3em;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    /* font-weight:normal; */
}

.link-box1{
    margin: 17% 0%;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.link:hover{
    color: rgb(19, 18, 18);
    text-decoration: underline;
}