.list-heading{
    background-color: white;
    width: 84%;
    /* border: 1px solid rgba(112,112,112,.38); */
    border: 1px solid white;
    border-radius: 0.3em;
    margin-left: 15%;
    margin-top: 0.5em;
    padding: 1% 2%;
    font-size: 2.1em;
    font-weight:500;
}

.cart-main{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.5%;
    /* margin-top: 1.5%; */
    background-color: white;
}

.container{
    border: 1px solid rgba(112,112,112,.38);
    width: 23%;
    padding: 25px 8px;
    margin: 1%;
    border-radius: 2%;
}

.cart-img{
    display: flex;
    justify-content: center;
}

.cart-para{
    text-align: center;
    font-size: 18px;
    color: #151b39;
    font-weight:500;
    margin-bottom: 5%;
    margin-top: 2%;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.cart-italic{
    font-style: italic;
    color: #6f7284;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.cart-price{
    font-size: 14px;
    /* font-family: LatoBold; */
    color: #6f7284
}

.cart-discount{
    /* color: #ef4281; */
    color: green;
    font-size: 16px;
    font-weight: 500;
    margin: 1.5%;
}

.main-cart-btn{
    margin-top: 3%;
    background-color: #49bccc;
    padding: 3% 36%;
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    font-weight:500;
    font-size: 17px;
}
