.head{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
    box-shadow: black 0px 0px 7px;
}

.main-nav{
    display: flex;
    flex-wrap: wrap;
    background-color: #49bccc;
    padding: 0.8% 0%;
}

.navbar{
    display: flex;
    /* width: 51%; */
    width: 51em;
    /* justify-content: center; */
}

.main-head{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin:0% 5%; */
    width: 12em;
}

.main-anchor{
    color: white;
    font-weight: 600; 
    font-size: 2.1em;
}

.main-search{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 5%; */
    /* width: 39vw;
    width: 77%; */
}

.main-search-bar{
    width: 43em;
    border: 1px solid #49bccc;
    padding: 2% 4%;
    border-radius: 0.7em;
}



.nav2{
    display: flex;
    width: 35em;
    flex-wrap: wrap;
    /* padding-left: 16%; */
    /* justify-content: center; */
}

/* .view{
    visibility: hidden;
    margin: 16px 12px;
    border-radius: 21px;
    padding: 5px 21px;
} */

.medicine, .health, .cart, .login{
    display: flex;
    align-items: center;
    margin: 0% 3%;
}

.medicine-btn, .health-btn, .cart-btn, .login-btn{
    /* padding: 7px 14px; */
    padding: 0.5vw 1vw;
    /* padding: 1% 2%; */
    background-color: #49bccc;
    border: 3px solid white;
    border-radius: 11px;
    cursor: pointer;
    width: 100%;
}
.medicine-btn:hover, .health-btn:hover,.cart-btn:hover, .login-btn:hover{
    background-color: #3098a4;
}

.access{
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media only screen and (max-width:600px){
    .main-head{
        width: 0em;
    }
    .main-anchor{
        font-size: 0;
    }
}

