.head{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
    box-shadow: black 0px 0px 7px;
}

.main-nav{
    display: flex;
    /* flex-wrap: wrap; */
    background-color: #49bccc;
    padding: 0.8% 0%;
}

.navbar{
    display: flex;
    /* width: 51%; */
    width: 51em;
    /* justify-content: center; */
}

.main-head{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin:0% 5%; */
    width: 12em;
}

.nav-icon{
    width: 0;
}

.main-anchor{
    color: white;
    font-weight: 600; 
    font-size: 2.1em;
}

.main-search{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 5%; */
    /* width: 39vw;
    width: 77%; */
}

.main-search-bar{
    /* width: 41em; */
    width: 40vw;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    border: 1px solid #49bccc;
    padding: 2% 4%;
    border-radius: 0.7em;
    height: 3em;
}



.nav2{
    display: flex;
    width: 46vw;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* padding-left: 16%; */
}

/* .view{
    visibility: hidden;
    margin: 16px 12px;
    border-radius: 21px;
    padding: 5px 21px;
} */

.medicine, .health, .cart, .login{
    display: flex;
    align-items: center;
    margin: 0% 2.7%;
}

.access{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .access:hover{
    background-color: #3098a4;

} */
.medicine-btn, .health-btn, .cart-btn, .login-btn{
    padding: 9px 15px;
    color: white;
    font-size: 1.25em;
    font-weight: 600;
    /* padding: 1% 2%; */
    /* padding: 0.5vw 1vw; */
    background-color: #49bccc;
    /* border: 3px solid white; */
    border: none;
    border-radius: 11px;
    cursor: pointer;
    width: 100%;
}
/* .nav-hover1{
    background-color: #3098a4;
} */
.medicine-btn:hover, .health-btn:hover,.cart-btn:hover, .login-btn:hover{
    background-color: #3098a4;
}



@media only screen and (max-width:1100px){
    .main-nav{
        flex-wrap: wrap;
        /* height: 0; */
    }
    .nav2{
        display: block;
    }
    .medicine-btn, .health-btn, .cart-btn, .login-btn{
        /* padding: 7px 14px; */
        text-align: left;
    }
    .main-head{
        width: 3em;
        margin: 0% 3%;
    }
    .main-anchor{
        font-size: 0;
    }

    .main-search-bar{
        width: 30em;
    }

    .nav-icon{
        width: 35px;
        cursor: pointer;
    }
}

